.ajoutblog {
  background-color: #1F1F2E;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 3px solid #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.create{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: #1F1F2E;
}

.cre{
  align-items: center;
}

.desc{
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 100px;
}

button{
  width: 25%;
  border-radius: 5%;
  background-color: #000000;
  overflow: hidden;
  float: right;
}

h3 {
  background-color: #1F1F2E;
}
