.menu{
  display: block;
  background-color: #181829;
  min-width: 150px;
  margin-bottom: 3px;
  padding-left: 15px;
}

button{
  text-align: left;
}

button:hover {
  text-decoration: underline;
}

.selected {
  /* Ajoutez les styles spécifiques pour l'élément sélectionné ici */
  background-color: #000; /* Par exemple, changer la couleur de fond en gris plus foncé */
  color: #fff; /* Changer la couleur du texte en blanc */
  font-weight: bold; /* Mettre le texte en gras */
}
