.splitbody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90%;
}

.splitright {
  margin-right: 5px;
  flex-direction: column;
  width: 40%;
}

.form {
  vertical-align: middle;
}


