.NomUtilisateur {
  font-size: 21px;
  color : #BEB9CB;
  text-align: left;
}
.Date{
  text-align: right;
  margin: 0;
}

.police-date {
  font-size: 9px;
  color : #BEB9CB;
}

.Titre{
  font-size: 21px;
  background-color: #1F1F2E;
}

.Contenu{
  margin: 0;
  border: 2px solid black;
  padding: 8px;
  border-radius: 5px;
  background-color: #1F1F2E;
}
.Message {
  background-color: #1F1F2E;
  font-size: 15px;
}

h1, h2, p {
  margin: 0;
}
