*{
  display: block;
  width: 100%;
  background-color: #1F1F2E;
  padding-top: 10px;
  padding-bottom: 10px;
}

label{

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;

  color: #FFFFFF;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  max-width: 8%;
  margin-right: 5%;
  overflow: hidden;
}


