/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Metrophobic');

*{
  background-color: #2B2736;
  font-family: Metrophobic;
  color: white;
  height: 100%;
}

html {
  overflow: hidden;
}
