*{
  flex-direction: column;
  display: flex;
}

div{
  text-align: center;
}

label{
  text-align: left;
}

.message{
  background-color: #1C1C21;
  border-color: transparent;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  resize: none;
}
.title{
  background-color: #1C1C21;
  font-size: 20px;
  margin: 10px 0;
  border-color: transparent;
}

.post{
  vertical-align: middle;
  width: 95%;
  background-color: #1F1F2E;
  color: white;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 20px;
  margin-top: 5%;
  margin-bottom: 10%;

}
