*{
  margin-top: 10px;
  flex-direction: column;
  background-color: #2B2736;

}
.container{
  width: 80%;
  height: 90%;
  max-height: 80%;
  justify-content: flex-start;
  overflow: auto;
  scrollbar-track-color: pink;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3D374B;
  border-radius: 50px;
}








