*{
  margin-top: 10px;
  flex-direction: column;
  background-color: #2B2736;

}
.container{
  width: 80%;
  max-height: 595px;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-track-color: pink;
  margin-bottom: 0;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3D374B;
  border-radius: 50px;
}








